:root {
  --turbo-black: #16181A;
  --turbo-white: #fff;
  --crimson: #dc143c;
  --hr-green: #43e073;
  --hr-yellow: #ffc246;
  --hr-red: #e85252;
  --muted: #aeaebe;
  --bg-fg: #f4f4f7;
  --shadow: 0 7px 48px 0 #dc143c44;
  --panel-bg: rgba(21, 19, 38, 0.98);
  --blur: blur(7px);
  --font-head: 'Montserrat', Arial, sans-serif;
  --font-body: 'Inter', Arial, sans-serif;
}